
h1 {
    color: blueviolet;
}
.copete {
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger 1.5rem;
    background-color: rgb(159, 159, 224);
  

}
body{
    background-color: antiquewhite;
}